body {
    text-align: center;
    background-color: rgba(240, 98, 55, 0.822);
    color:black;
}

hr {
    border: none;
    height: 1px; 
    background-color: black;
}

ul {
    
    display: inline-block;
}